<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Battery purchase</title>
  <link rel="stylesheet" href="/css/nav.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/tire.css" />
  <link rel="stylesheet" href="/css/Shoping grid.css">
</head>

<body>
  <nav class="navbar1">
    <div class="logo">
      <img src="/images/Dockvile Logo.png" alt="" />
    </div>

    <div class="nav-items">
      <ul>
        <li>
          <a href="">
            <div class="silent-space"><span>t</span></div>
            <img src="/images/Parking icon.svg" alt="" />
            <p>Parking</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="silent-space"><span>t</span></div>
            <img src="/images/tire icon.svg" alt="" />
            <p>Tire</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="silent-space"><span>t</span></div>
            <img src="/images/battery icon.svg" alt="" />
            <p>Battery</p>
          </a>
        </li>
        <li>
          <a href="">
            <div class="silent-space"><span>t</span></div>
            <img src="/images/dash board icon.svg" alt="" />
            <p>Dashboard</p>
          </a>
        </li>
      </ul>

      <ul>
        <li>
          <a href="">
            <div class="silent-space"><span>t</span></div>
            <img src="/images/simple-line-icons_logout.svg" alt="" />
            <p>LogOut</p>
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <main>
    <div>
      <div class="header">
        <div class="left-section">Battery</div>

        <div class="right-section">
          <img class="Notification" src="/images/Header-Notification.svg" alt="" />
          <img class="shopping" src="/images/Header-Shopping chart.svg" alt="" />
          <img class="img" src="/images/Header-img.png" alt="profile-pic" />
        </div>
      </div>
    </div>

    <div class="button-section">
      <button type="submit">Battery Purchase</button>
      <button type="submit">Battery Rent</button>
    </div>

    <section>
      <div class="container">
        <form id="form" action="#">
          <h4>Battery purchase</h4>
          <div class="input-control">
            <label for="fullName">Full Name</label>
            <input id="fullName" name="fullName" type="text" />
            <div class="error"></div>
          </div>
          <div class="input-control">
            <label for="phoneNumber">Phone Number</label>
            <input id="phoneNumber" name="phoneNumber" type="text" />
            <div class="error"></div>
          </div>

          <div class="input-control">
            <label for="nin">NIN</label>
            <input id="nin" name="nin" type="text" />
            <div class="error"></div>
          </div>

          <div class="input-control-special">
            <div class="input-dropdown">
              <label for="vehicles">Choose a vehicle:</label>
              <select name="vehicles" id="vehicles">
                <option value="truck">Truck</option>
                <option value="personalCar">
                  Personal Car(below 5 seats)
                </option>
                <option value="taxi">Taxi(below 5 seats)</option>
                <option value="coaster">Coaster(above 14 seats)</option>
                <option value="boda">Boda</option>
              </select>
            </div>
          </div>

          <div class="input-control-special">
            <div class="input-dropdown">
              <label for="battery-type">Type of Battery:</label>
              <select name="battery-type" id="battery-type">
                <option value="truck">Good Year</option>
                <option value="personalCar">
                  Dunlop
                </option>
                <option value="taxi">Toyo Tire</option>
                <option value="coaster">Michelin</option>
              </select>
            </div>
          </div>


          <div class="input-control">
            <label for="bartterynumber">Number of batteries</label>
            <input id="bartterynumber" name="bartterynumber" type="number" />
            <div class="error"></div>
          </div>

          <button type="submit">Enter Purchase</button>
        </form>
      </div>

      </div>
      <div class="product-grid">

        <div class="card">
          <div class="product-img">
            <img class="brand-pic" src="/images/battery.png" alt="yire" />
          </div>

          <div class="card-des">
            <div class="product-name">
              <p class="brand">Dunlop</p>
            </div>

            <div class="product-description">
              <p class="description">
                tubless,20 inch,all wether,225mm wide,...
                <!-- Aspect Ratios – P225,Speed Rating –P225 -->
              </p>
            </div>

            <div class="product-price">
              <p class="price">100,000</p>
            </div>

            <div class="card-inter">
              <div class="card-rem">
                <div class="card-rem-progress">
                  <div class="prog-out">
                    <div class="prog-In"></div>
                  </div>

                </div>

                <div class="card-rem-text">
                  <p class="rem-no">30</p>
                  <p class="rem">Remaining</p>
                </div>
              </div>

              <div class="add-button">
                <button>Add to Chart</button>
              </div>

            </div>
          </div>

        </div>

        <div class="card">
          <div class="product-img">
            <img class="brand-pic" src="/images/battery.png" alt="yire" />
          </div>

          <div class="card-des">
            <div class="product-name">
              <p class="brand">Dunlop</p>
            </div>

            <div class="product-description">
              <p class="description">
                tubless,20 inch,all wether,225mm wide,...
                <!-- Aspect Ratios – P225,Speed Rating –P225 -->
              </p>
            </div>

            <div class="product-price">
              <p class="price">100,000</p>
            </div>

            <div class="card-inter">
              <div class="card-rem">
                <div class="card-rem-progress">
                  <div class="prog-out">
                    <div class="prog-In"></div>
                  </div>

                </div>

                <div class="card-rem-text">
                  <p class="rem-no">30</p>
                  <p class="rem">Remaining</p>
                </div>
              </div>

              <div class="add-button">
                <button>Add to Chart</button>
              </div>

            </div>
          </div>

        </div>

        <div class="card">
          <div class="product-img">
            <img class="brand-pic" src="/images/battery.png" alt="yire" />
          </div>

          <div class="card-des">
            <div class="product-name">
              <p class="brand">Dunlop</p>
            </div>

            <div class="product-description">
              <p class="description">
                tubless,20 inch,all wether,225mm wide,...
                <!-- Aspect Ratios – P225,Speed Rating –P225 -->
              </p>
            </div>

            <div class="product-price">
              <p class="price">100,000</p>
            </div>

            <div class="card-inter">
              <div class="card-rem">
                <div class="card-rem-progress">
                  <div class="prog-out">
                    <div class="prog-In"></div>
                  </div>

                </div>

                <div class="card-rem-text">
                  <p class="rem-no">30</p>
                  <p class="rem">Remaining</p>
                </div>
              </div>

              <div class="add-button">
                <button>Add to Chart</button>
              </div>

            </div>
          </div>

        </div>

        <div class="card">
          <div class="product-img">
            <img class="brand-pic" src="/images/battery.png" alt="yire" />
          </div>

          <div class="card-des">
            <div class="product-name">
              <p class="brand">Dunlop</p>
            </div>

            <div class="product-description">
              <p class="description">
                tubless,20 inch,all wether,225mm wide,...
                <!-- Aspect Ratios – P225,Speed Rating –P225 -->
              </p>
            </div>

            <div class="product-price">
              <p class="price">100,000</p>
            </div>

            <div class="card-inter">
              <div class="card-rem">
                <div class="card-rem-progress">
                  <div class="prog-out">
                    <div class="prog-In"></div>
                  </div>

                </div>

                <div class="card-rem-text">
                  <p class="rem-no">30</p>
                  <p class="rem">Remaining</p>
                </div>
              </div>

              <div class="add-button">
                <button>Add to Chart</button>
              </div>

            </div>
          </div>

        </div>

        <div class="card">
          <div class="product-img">
            <img class="brand-pic" src="/images/battery.png" alt="yire" />
          </div>

          <div class="card-des">
            <div class="product-name">
              <p class="brand">Dunlop</p>
            </div>

            <div class="product-description">
              <p class="description">
                tubless,20 inch,all wether,225mm wide,...
                <!-- Aspect Ratios – P225,Speed Rating –P225 -->
              </p>
            </div>

            <div class="product-price">
              <p class="price">100,000</p>
            </div>

            <div class="card-inter">
              <div class="card-rem">
                <div class="card-rem-progress">
                  <div class="prog-out">
                    <div class="prog-In"></div>
                  </div>

                </div>

                <div class="card-rem-text">
                  <p class="rem-no">30</p>
                  <p class="rem">Remaining</p>
                </div>
              </div>

              <div class="add-button">
                <button>Add to Chart</button>
              </div>

            </div>
          </div>

        </div>

        <div class="card">
          <div class="product-img">
            <img class="brand-pic" src="/images/battery.png" alt="yire" />
          </div>

          <div class="card-des">
            <div class="product-name">
              <p class="brand">Dunlop</p>
            </div>

            <div class="product-description">
              <p class="description">
                tubless,20 inch,all wether,225mm wide,...
                <!-- Aspect Ratios – P225,Speed Rating –P225 -->
              </p>
            </div>

            <div class="product-price">
              <p class="price">100,000</p>
            </div>

            <div class="card-inter">
              <div class="card-rem">
                <div class="card-rem-progress">
                  <div class="prog-out">
                    <div class="prog-In"></div>
                  </div>

                </div>

                <div class="card-rem-text">
                  <p class="rem-no">30</p>
                  <p class="rem">Remaining</p>
                </div>
              </div>

              <div class="add-button">
                <button>Add to Chart</button>
              </div>

            </div>
          </div>

        </div>

        <div class="card">
          <div class="product-img">
            <img class="brand-pic" src="/images/battery.png" alt="yire" />
          </div>

          <div class="card-des">
            <div class="product-name">
              <p class="brand">Dunlop</p>
            </div>

            <div class="product-description">
              <p class="description">
                tubless,20 inch,all wether,225mm wide,...
                <!-- Aspect Ratios – P225,Speed Rating –P225 -->
              </p>
            </div>

            <div class="product-price">
              <p class="price">100,000</p>
            </div>

            <div class="card-inter">
              <div class="card-rem">
                <div class="card-rem-progress">
                  <div class="prog-out">
                    <div class="prog-In"></div>
                  </div>

                </div>

                <div class="card-rem-text">
                  <p class="rem-no">30</p>
                  <p class="rem">Remaining</p>
                </div>
              </div>

              <div class="add-button">
                <button>Add to Chart</button>
              </div>

            </div>
          </div>

        </div>

        <div class="card">
          <div class="product-img">
            <img class="brand-pic" src="/images/battery.png" alt="yire" />
          </div>

          <div class="card-des">
            <div class="product-name">
              <p class="brand">Dunlop</p>
            </div>

            <div class="product-description">
              <p class="description">
                tubless,20 inch,all wether,225mm wide,...
                <!-- Aspect Ratios – P225,Speed Rating –P225 -->
              </p>
            </div>

            <div class="product-price">
              <p class="price">100,000</p>
            </div>

            <div class="card-inter">
              <div class="card-rem">
                <div class="card-rem-progress">
                  <div class="prog-out">
                    <div class="prog-In"></div>
                  </div>

                </div>

                <div class="card-rem-text">
                  <p class="rem-no">30</p>
                  <p class="rem">Remaining</p>
                </div>
              </div>

              <div class="add-button">
                <button>Add to Chart</button>
              </div>

            </div>
          </div>

        </div>

        <div class="card">
          <div class="product-img">
            <img class="brand-pic" src="/images/battery.png" alt="yire" />
          </div>

          <div class="card-des">
            <div class="product-name">
              <p class="brand">Dunlop</p>
            </div>

            <div class="product-description">
              <p class="description">
                tubless,20 inch,all wether,225mm wide,...
                <!-- Aspect Ratios – P225,Speed Rating –P225 -->
              </p>
            </div>

            <div class="product-price">
              <p class="price">100,000</p>
            </div>

            <div class="card-inter">
              <div class="card-rem">
                <div class="card-rem-progress">
                  <div class="prog-out">
                    <div class="prog-In"></div>
                  </div>

                </div>

                <div class="card-rem-text">
                  <p class="rem-no">30</p>
                  <p class="rem">Remaining</p>
                </div>
              </div>

              <div class="add-button">
                <button>Add to Chart</button>
              </div>

            </div>
          </div>

        </div>


      </div>
      </div>

    </section>
  </main>

  <script src="/js/Battery Input.js"></script>
</body>

</html>