doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login_PAGE
  link(rel='stylesheet' href='/css/Dockvile_Login.css')
  script(defer='' src='/js/Dockvile_login.js')
.container
  form#form(action='/')
    h1 Log In
    .input-control
      label(for='email') Email
      input#email(name='email' type='text')
      .error
    .input-control
      label(for='password') Password
      input#password(name='password' type='password')
      .error
    button(type='submit') Log In
    a(href='#') Forgot Password
