doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Punctur fixing
  link(rel='stylesheet' href='/css/nav.css')
  link(rel='stylesheet' href='/css/header.css')
  link(rel='stylesheet' href='/css/tire.css')
  link(rel='stylesheet' href='/css/Shoping grid.css')

nav.navbar1
  .logo
    img(src='/images/Dockvile Logo.png' alt='')
  .nav-items
    ul
      li
        a(href='/api/parking')
          .silent-space
            span t
          img(src='/images/Parking icon.svg' alt='')
          p Parking
      li
        a(href='/api/tirepurchase')
          .silent-space
            span t
          img(src='/images/tire icon.svg' alt='')
          p Tire
      li
        a(href='/api/batterypurchase')
          .silent-space
            span t
          img(src='/images/battery icon.svg' alt='')
          p Battery
      li
        a(href='/api/dashboard')
          .silent-space
            span t
          img(src='/images/dash board icon.svg' alt='')
          p Dashboard
    ul
      li
        a(href='/api/logIn')
          .silent-space
            span t
          img(src='/images/simple-line-icons_logout.svg' alt='')
          p LogOut
main
  div
    .header
      .left-section Tires
      .right-section
        img.Notification(src='/images/Header-Notification.svg' alt='')
        img.shopping(src='/images/Header-Shopping chart.svg' alt='')
        img.img(src='/images/Header-img.png' alt='profile-pic')
  .button-section
    button(type='submit') Tire Purchase
    button(type='submit') Tire Pressure
    button(type='submit') Puncture Fixing
    button(type='submit') Valves
  .container
    form#form(name="regpunctureFixing" method="POST" action='/api/regpunctureFixing')
      h4 Puncture Fixing
      .input-control
        label(for='fullName') Full Name
        input#fullName(name='fullName' type='text')
        .error
      .input-control
        label(for='phoneNumber') Phone Number
        input#phoneNumber(name='phoneNumber' type='text')
        .error
      .input-control-special
        .input-dropdown
          label(for='vehicles') Choose a vehicle:
          select#vehicles(name='vehicles')
            option(value='truck') Truck
            option(value='personalCar')
              | Personal Car(below 5 seats)
            option(value='taxi') Taxi(below 5 seats)
            option(value='coaster') Coaster(above 14 seats)
            option(value='boda') Boda
      .input-control-special
        .input-dropdown
          label(for='tiretype') Type of Tire:
          select#tiretype(name='tiretype')
            option(value='truck') Good Year
            option(value='personalCar')
              | Dunlop
            option(value='taxi') Toyo Tire
            option(value='coaster') Michelin
      .input-control-special
        .input-dropdown
          label(for='tiresize') Tire Size:
          select#tiresize(name='tiresize')
            option(value='tiresize') 235
            option(value='')
              | 225
            option(value='') 235
            option(value='') 185
            option(value='') 165
      .input-control
        label(for='tirenumber') Number of tires
        input#tirenumber(name='tirenumber' type='number')
        .error
      button(type='submit') Enter Purchase
script(src='/js/Tire Input.js')
