doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title SignUp_PAGE
  link(rel='stylesheet' href='/css/Dockvile_Login.css')
  //- script(defer='' src='/js/Signup.js')
.container
  form#form(name="employeeform" method="POST" action='/api/regemployee')
    h1 Registration
    .input-control
      label(for='fullName') Full Name
      input#fullName(name='fullName' type='text')
      .error
    .input-control
      label(for='email') Email
      input#email(name='email' type='text')
      .error
    .input-control
      label(for='phoneNumber') Phone Number
      input#phoneNumber(name='phoneNumber' type='text')
      .error
    .input-control-special
          .input-dropdown
            label(for='role') Role:
            select(name='role')
              option(value='manager' ) Manager 
              option(value='employee') Employee 
    .input-control  
      label(for='password') Password
      input#password(name='password' type='password')
      .error
    button#submit(type='submit') Sign Up
script(src='/js/Signup.js')