<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login_PAGE</title>
    <link rel="stylesheet" href="/css/Dockvile_Login.css">
    <script defer src="/js/Signup.js"></script>
</head>

<body>
    <div class="container">
        <form id="form" action="#">
            <h1>Registration</h1>
            <div class="input-control">
                <label for="fullName">Full Name</label>
                <input id="fullName" name="fullName" type="text" />
                <div class="error"></div>
            </div>

            <div class="input-control">
                <label for="email">Email</label>
                <input id="email" name="email" type="text" />
                <div class="error"></div>
            </div>

            <div class="input-control">
                <label for="phoneNumber">Phone Number</label>
                <input id="phoneNumber" name="phoneNumber" type="email" />
                <div class="error"></div>
            </div>

            <div class="input-control">
                <label for="password">Password</label>
                <input id="password"name="password" type="password">
                <div class="error"></div>
            </div>
        
            <button type="submit">Check In</button>
        </form>
    </div>


</body>

</html>
