th{
    background-color: rgb(13, 8, 18);
    color: #aeacac;
}
/* .col{
    
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 16px;
    text-align: start;
    height: 8px;
    background-color: aqua;
}

td{
    padding-right: 16px !important;
    padding: 2px 0px;
    font-size: 14px;
    text-align: start;
    height: 8px;
} */ */
