
.brand{
  font-size: 16px;
  font-weight: 700;
}

.description{
  font-size: 14px;
  font-weight: 400;
  color: #5e5d5d;
  width: 180px;
  height: 32px;
}

.price{
  font-size: 20px;
  font-weight: bold;
}

.rem-no,.rem{
  font-size: 10px;
  font-weight: 700;
  color: #868484;
}

.product-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 16px 16px;
  margin: 16px;
  max-width: 740px;
  padding: 8px;
  background-color: #f7f2f2;
  border-radius: 8px;
}

.card{
  background-color: rgba(197, 185, 206, 1);
  border-radius: 8px;
}

.brand-pic{
  width: 100%;
}

.card .card-des{
  padding: 8px ;
  column-gap: 8px;
}

.product-description{
  margin-bottom: 8px;
}


.card-inter{
display: flex;
column-gap: 16px;
justify-self: end;
align-items: end;
}

.card-inter .card-rem {
display: flex;
flex-direction: column;
row-gap: 4px;
}

.card-inter .card-rem .card-rem-text{
display: flex;
column-gap: 2px;
}

.prog-out{width: 80px; height: 5px; border: 1px solid black; border-radius:4px;}
.prog-in{height: 100%; width: 50%; background-color: #8208F3; border-radius:4px;}

button{
  cursor: pointer;
  background-color: #8208F3;
  color: white;
  border: none;
  height: 36px;
  width: 100px;
  border-radius: 8px;
  font-size: 12px;
  white-space: nowrap;
  font-weight: bold;
  padding: 8px 8px;
  transition: opacity 0.2s linear, color 0.2s linear,box-shadow 0.2s;
}

button:hover{
  box-shadow:2px 2px 5px rgba(71, 2, 136, 0.8);
  opacity: 0.7;
}


button:active{
  color: #e8e7e7;
  opacity: 0.3;}